header {
    background-color: #d6bf61;
    border: none;
    font-size: 50px;
    padding-left: 2cm;
    padding-top: 15px;
    padding-bottom: 15px;
}


header > a{
    text-decoration: none;
    color: white;
}


body {
    margin: 0;
    padding: 0;
}
