header {
    background-color: #d6bf61;
    border: none;
    font-size: 50px;
    padding-left: 2cm;
    padding-top: 15px;
    padding-bottom: 15px;
}


header > a{
    text-decoration: none;
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;         /* Active le mode flexbox */
    align-items: center;   /* Centre verticalement */
    justify-content: space-between; /* Répartit les éléments */
    background-color: #f0f0f0;
    padding: 10px 20px;
}

a{
    transition: transform 0.3s ease, background-color 0.3s ease;
}

li a:hover{
    display: inline-block;
    transform:scale(1.1);
}

nav ul {
    list-style: none; /* Supprime les puces */
    display: flex;    /* Met les <li> en ligne */
    gap: 20px;        /* Espacement entre les liens */
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

input[type="search"]{
    border-radius: 5px;
    padding: 10px;
    border: 2px solid grey;
}

body {
    background-image: url('desert2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    margin: 0; 

    background-color: rgba(255, 255, 255, 0.5); 
    background-blend-mode: overlay; 
}
