header {
    background-color: #d6bf61;
    border: none;
    font-size: 50px;
    padding-left: 2cm;
    padding-top: 15px;
    padding-bottom: 15px;
}


header>a {
    text-decoration: none;
    color: white;
}


nav {
    display: flex;
    /* Active le mode flexbox */
    align-items: center;
    /* Centre verticalement */
    justify-content: space-between;
    /* Répartit les éléments */
    background-color: #f0f0f0;
    padding: 10px 20px;
}

a {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

li a:hover {
    display: inline-block;
    transform: scale(1.1);
}

nav ul {
    list-style: none;
    /* Supprime les puces */
    display: flex;
    /* Met les <li> en ligne */
    gap: 20px;
    /* Espacement entre les liens */
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

input[type="search"] {
    border-radius: 5px;
    padding: 10px;
    border: 2px solid grey;
}

body {
    margin: 0;
    padding: 0;
}

.conteneur {
    display: flex;
    flex-direction: column;
    /* Empile les box */
    gap: 20px;
    /* Espacement entre les box */
    align-items: center;
    /* Centre les box horizontalement */
}

.compte,
#info {
    display: flex;
    background-color: white;
    width: 90%;
    max-width: 400px;
    height: auto;
    max-height: 80vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}

button {
    background-color: rgb(184, 170, 51);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 40px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease-in-out;

}

button:hover {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    transform: scale(1.1);
    box-shadow: 0px 4px 12px rgba(184, 125, 75, 0.5);
    background: linear-gradient(120deg, #b87d4b, #8f5a2a);
    cursor: pointer;
}