header {
    background-color: #d6bf61;
    border: none;
    font-size: 50px;
    padding-left: 5cm;
    padding-top: 15px;
    padding-bottom: 15px;
}

body {
    margin: 0;
    padding: 0;
}

header > a{
    text-decoration: none;
    color: white;
}

div.form{
    padding-top: 10px;
    border: none;
}

legend{
    background-color: darkgoldenrod;
    color: white;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-style: none;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid grey;
    border-radius: 5px;
    outline: none;
    text-align: center;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Effet au focus */
input[type="number"]:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 91, 187, 0.5);
}

select, input[type="date"] {
    appearance: none; /* Supprime le style natif */
    -webkit-appearance: none; /*pour chrome,edge,safari..*/
    -moz-appearance: none; /*pour firefox*/
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
}

button[type="submit"]{
    background-color: rgb(184, 170, 51);;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: none;
    color: white;
    border-radius: 5px;
    
}

/* Effet au survol du curseur */
select:hover, input[type="date"]:hover, input[type="number"]:hover, button:hover {
    border-color: yellow;
    box-shadow: 0 0 5px darkorange;
}

select{
    border-radius: 5px;
    border-style: solid;
    border-color: grey;
}


/*div.pied{
    background-color: #2c662c;
    color: white;
    padding-left: 5cm;
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}