/* structure de base pour que le footer fonctionne */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    background-image: url('images/desert2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* <-- C'est ça la clé */
    
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
    flex: 1;
}

footer {
    background-color: #c2821c;
    color: white;
    text-align: center;
    padding: 20px 0;
}


 /* mode sombre */
 .dark-mode body {
    background-image: none;
    background-color: #333;
    color: white;
}

.dark-mode header,
.dark-mode footer {
    background-color: #2c2c2c;
    color: white;
}

.dark-mode nav {
    background-color: #2c2c2c;
    border-color: #333;
}

.dark-mode nav a {
    color: white;
}

.dark-mode section.titre {
    background: #1e1e1e;
    color: white;
}

.dark-mode .lieu{
    background: #1e1e1e;
    border-color: transparent;
}

.dark-mode .lieu:hover{
    box-shadow: 0px 4px 12px #e0a14a;
    background: linear-gradient(120deg, #e0a14a, #ffbf6b);
}

.dark-mode .lieu h2{
    color: white;
}

.dark-mode .boite_inscription,
.dark-mode .connexion{
    background-color: #2c2c2c;
} 

.dark-mode input[type="search"] {
    background-color: #2c2c2c;
    color: white;
    border: 1px solid #555;
}

.dark-mode button[type="submit"]{

    background-color: #555;
}

.dark-mode button[type="submit"]:hover{
    transform: scale(1.1);
    box-shadow: 0px 4px 12px #e0a14a;
    background: linear-gradient(120deg, #e0a14a, #ffbf6b);
    cursor: pointer;
}


.dark-mode .apropos, 
.dark-mode .form_recherche,
.dark-mode .voyage-icone{
    background-color: #2c2c2c;
}

.dark-mode .voyage-icone:hover{
    box-shadow: 0px 4px 12px #e0a14a;
    background: linear-gradient(120deg, #e0a14a, #ffbf6b);
}

.dark-mode .voyage-link {
    background-color: #c2821c;
    color: white;
    transition: background-color 0.3s;
}

.dark-mode .voyage-link:hover {
    background-color: white;
    color: #ffbf6b;
    border-color: white;
}

.dark-mode .voyage-info p,
.dark-mode .voyage-info h3{
    color: white;
}

.dark-mode .pagination a:hover{
    box-shadow: 0px 4px 12px #e0a14a;
    background: linear-gradient(120deg, #e0a14a, #ffbf6b);
    cursor: pointer;
}

.dark-mode #bouton-mode:hover{
    background: white;
    color: #333;
    border: 1px solid white;

}

.dark-mode .compte, .dark-mode #info, .dark-mode .achat, .dark-mode div.admin {
    background-color: #2c2c2c;
}


.dark-mode .panier,
.dark-mode .bouton{
    background-color: #555;
}

.dark-mode .modifier,
.dark-mode .valider,
.dark-mode .annuler{
    background-color: #555;
}

.dark-mode .creer_compte{
    background-color: #555;
    color : white;
}

.dark-mode .contact{
    background-color: #333;
}

.dark-mode .container h2 , .dark-mode .container p{
    color: white;
}

.client {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.client .infos {
    flex-grow: 1;
}

.client form {
    margin-right: 50px;
}
#bouton-mode {
    background: transparent;
    color: inherit;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}

#bouton-mode:hover{
    background: white;
    color: #c2821c;
    border: 1px solid white;

}
/*code utile à toutes les pages*/

header {
    background-color: #c2821c;
    border: none;
    font-size: 50px;
    padding-left: 2cm;
    padding-top: 15px;
    padding-bottom: 15px;
}


header > a{
    text-decoration: none;
    color: white;
}


nav {
    display: flex;         /* Active le mode flexbox */
    align-items: center;   /* Centre verticalement */
    justify-content: space-between; /* Répartit les éléments */
    background-color: #f0f0f0;
    padding: 10px 20px;
}

a{
    transition: transform 0.3s ease, background-color 0.3s ease;
}

li a:hover{
    display: inline-block;
    transform:scale(1.1);
}

nav ul {
    list-style: none; /* Supprime les puces */
    display: flex;    /* Met les <li> en ligne */
    gap: 20px;        /* Espacement entre les liens */
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.barre input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"]{
    background-color: #c2821c;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 40px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease-in-out;
    
}

button[type="submit"]:hover{
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    transform: scale(1.1);
    box-shadow: 0px 4px 12px #B87D4B80;
    background: linear-gradient(120deg, #b87d4b, #8f5a2a);
    cursor: pointer;
}

input{
    border-radius: 5px;
    padding: 10px;
    border: 2px solid grey;
}

input:focus {
    outline: none;
}  

select:hover, input:hover{
    box-shadow: 0px 4px 12px rgba(184, 125, 75, 0.5);
}

/*page accueil*/


section.titre{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(45deg, #AACFEC, #78B6E6, #78B6E6, #AACFEC);
}

section.accueil{
    width: auto;
    height: auto;
    overflow: hidden;
    text-align: center;
    margin-left: 2cm; 
    margin-right: 2cm;
    margin-bottom: 2cm; 
}


.lieu-contenant {
    border-radius: 15px;
    display: flex;
    flex-flow: wrap;
    width: 100%;
    gap: 20px;
    justify-content: center;
}

.lieu {
    width: 300px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: #f0f0f0;
    overflow: hidden;
    text-align: center;
    margin-bottom:2cm;
}

.lieu img {
    width: 100%;
    height: auto;
}

.lieu h2 {
    margin: 30px;
    font-size: 1.5em;
    color: #333;
}

.lieu a{
    text-decoration: none;
}

.lieu:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

section.accueil>p{

    text-align: center;
    font-size: 16px;
}

section.accueil>h1{
    text-align: center;
}

/*code utile à la page recherche*/

div.form_recherche{
    background-color: white;  
    width: 90%;  /* Adaptatif sur petits écrans */
    max-width: 400px;  /* Ne dépasse jamais 400px */
    height: auto; /* S'adapte au contenu */
    padding: 20px;  
    border-radius: 10px;  
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);  
    display: flex;
    flex-direction: column;  
    align-items: center;

    /* Centrage au milieu de la page */
    margin: auto; /* Centre verticalement */
    margin-top: 2cm;
    margin-bottom: 1cm;

}

legend.recherche{
    font-weight:bold;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-style: none;
}

fieldset.recherche{
    border:none;
}

select, input[type="date"] {
    appearance: none; /* Supprime le style natif */
    -webkit-appearance: none; /*pour chrome,edge,safari..*/
    -moz-appearance: none; /*pour firefox*/
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
}


/*code utile à la page connexion*/

.connexion {
    background-color: white;  
    width: 90%; 
    max-width: 400px; 
    height: auto; 
    max-height: 500px; 
    padding: 20px;  
    border-radius: 10px;  
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);  
    display: flex;
    flex-direction: column;  
    align-items: center;

    /* Centrage */
    margin: auto; /* Centre verticalement */
    margin-top: 0px;
}

.boite_connexion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    margin-top: 100px; /* Ajoute un espace en haut si nécessaire */
    margin-bottom: 50px;
}

form.form_connexion{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    gap: 20px;
    padding-bottom: 30px;
    margin: 20px;
}

/*code utile à la page inscription*/

div.boite_inscription{
    background-color: white;  
    width: 90%;  /* Adaptatif sur petits écrans */
    max-width: 400px;  /* Ne dépasse jamais 400px */
    height: auto; /* S'adapte au contenu */
    padding: 20px;  
    border-radius: 10px;  
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);  
    display: flex;
    flex-direction: column;  
    align-items: center;
    /* Centrage au milieu de la page */
    /* Centrage */
    margin: auto; /* Centre verticalement */
    margin-top: 2cm;
    margin-bottom:1cm;
}

form.form_inscription{
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;
    /* Espacement entre les champs */

}

input[type="number"] {
    width: 50px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 16px;
    border: 2px solid grey;
    border-radius: 5px;
    outline: none;
    text-align: center;
    transition: border-color 0.3s, box-shadow 0.3s;
}


/*code utile à la page profil*/

.compte{
    margin-top: 25px;
    font-weight: bold;
    font-size: large;
}

.conteneur_compte{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compte, #info, .achat{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* Empile les box */
    gap: 20px;
    /* Espacement entre les box */
    align-items: left;
    /* Centre les box horizontalement */
    margin-bottom:1cm;
    background-color: white;
    width: 40%;
    max-width: 400px;
    height: auto;
    max-height: 80vh;
    padding: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

button.edit{
    border-style:none;
}

div.logout{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.logout {
    background-color: #d6bf61;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 40px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease-in-out;
}

button.logout:hover {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    transform: scale(1.1);
    box-shadow: 0px 4px 12px #B87D4B80;
    background: linear-gradient(120deg, #b87d4b, #8f5a2a);
    cursor: pointer;
}


/*code utile à la page présentation*/

section.apropos{
    border: white 2px;
    background-color: white;
    margin: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    text-align: center;  
}

/*code utile aux pages destinations*/


section.titre{
    margin-top: 1cm;
    margin-left:4cm;
    margin-right:4cm;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);  

}

section.titre>h1{
    text-align: center;
}

.presentation .container {
    position: relative; /* bien positionner le texte */
    z-index: 1; /* assure texte au-dessus image */
}

.presentation h2 {
    font-size: 32px;
    margin-bottom: 20px;
}


/* superposition sombre pour améliorer la lisibilité du texte */
.presentation::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* couleur sombre avec opacité */
    z-index: 0; /* image en dessous */
}

/*Onglet*/
.onglets {
    display: flex;
    justify-content: center;
    margin-top: 3cm;
    margin-bottom:6cm;
    margin-left: 1cm;
    margin-right: 1cm;
}

.tab-container {
    width: 800px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

/* cache radio */
input[type="radio"].destination{
    display: none;
}

/* style de l'onglet */
.tab-name {
    color: white;
    font-family: "Poppins", sans-serif;
    height: 45px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* quand cliqué */
input:checked + label .tab-name {
    background: linear-gradient(to top, #a86c34, #b87d4b, #8f5a2a);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* contenu  onglets */
.tab-content {
    position: absolute;
    top: 50px;
    left: 0;
    background: linear-gradient(to top, #a86c34, #b87d4b, #8f5a2a);
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0;
    z-index: 0;
    width: 100%;
    transition: 0.3s;
}

/* Affichage du contenu de l'onglet actif */
input:checked + label .tab-content {
    opacity: 1;
    z-index: 1;
}


.contact {
    text-align: center;
    padding: 50px 0;
    background: #f8f8f8;
    margin-top: 50px;
}

.contact .container {
    max-width: 600px;
    margin: auto;
}

.contact h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.contact p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.ticket-btn {
    display: inline-block;
    background-color: #d6bf61;
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.ticket-btn:hover {
    background: #b8a24e;
}

/*/////////////////////////////////*/
/* inspiré de .lieu */
/* pour résultat.php (recherche) */

/* Conteneur des cartes */
.voyage-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

/* Carte de voyage */
.voyage-icone {
    width: 320px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    margin-bottom: 1cm;
}

.voyage-icone:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* image */
.voyage-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}


.voyage-info {
    padding: 15px;
}


.voyage-info h3 {
    font-size: 1.4em;
    color: #333;
    margin-bottom: 10px;
}

.voyage-info p {
    font-size: 1em;
    color: #666;
    margin: 5px 0;
}

/* lien */
.voyage-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #d6bf61;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.voyage-link:hover {
    background-color: #bfa849;
}

#bouton-filtre{
    margin-left: 15px;
}

.paginationJS{
    margin-left:15px;
}

/*//////////////////////////////////////*/



/*code utile à la page admin*/

header.admin{
    color: white;
}

div.admin{
    padding-left: 15px;
    padding-bottom:15px;
    border: white 2px;
    background-color: white;
    margin: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); 
}

.client{
    margin-left: 1cm;
}

button.admin{
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom: 1cm;
}

.pagination a {
    background-color: #c2821c;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 40px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease-in-out;
    text-decoration: none;
}


/*code utile à la page résultat*/

.pagination a:hover{
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    transform: scale(1.1);
    box-shadow: 0px 4px 12px #B87D4B80;
    background: linear-gradient(120deg, #b87d4b, #8f5a2a);
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-bottom: 50px;
}

.pages{
    margin-left:15px;
}


/*/////////////////// formulaire.js  //////////////////////*/

.input-valide {
    border: 2px solid green;
}

.input-invalide {
    border: 2px solid red;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.eye-icon {
    position: absolute;
    right: 10px;
    bottom: 7px;
    cursor: pointer;
    user-select: none;
    font-size: 18px;
}

/*///////////// profil ////////////////////*/

/*inspiré de .voyage */

.modifier,
.valider,
.annuler {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.modifier {
  background-color: #a07415;
}

.valider {
  background-color: #a07415;
}

.annuler {
  background-color: #a07415;
}

.panier,
.bouton {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    background-color: #9b841f; /* couleur de départ */
    margin-right: 12px;
    transition: 
        background-color 0.3s ease,
        transform 0.3s ease, 
        box-shadow 0.3s ease,
        padding 0.3s ease;
}

/* Animation au survol */
.panier:hover,
.bouton:hover {
    padding: 10px 20px;
    transform: scale(1.1);
    box-shadow: 0px 4px 12px #B87D4B80;
    background: linear-gradient(120deg, #bd8c62, #96673b);
}

button.logout{
    margin-right: 25px;
}
